<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590080571472-qamjjst2cc574cb8n08ghgfvk7ooc0h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590080571472-qamjjst2cc574cb8n08ghgfvk7ooc0h5</string>
	<key>API_KEY</key>
	<string>AIzaSyC1DbbSGCUkYbgUiNYzkS-Oulm3rYdTYIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>590080571472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.f36AppjamProject</string>
	<key>PROJECT_ID</key>
	<string>rankademy</string>
	<key>STORAGE_BUCKET</key>
	<string>rankademy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590080571472:ios:e06071764632c3b387b955</string>
</dict>
</plist>